HUNAR_AI_API_KEY=
HUNAR_AGENT_ID=

POSTGRES_USER=hunar
POSTGRES_PASSWORD=changeme
POSTGRES_DB=hunar
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://hunar:changeme@localhost:5432/hunar

GROQ_API_KEY=
JWT_SECRET=
